In [1]:
#import packages

In [2]:
import pandas as pd

In [3]:
#Exploratory data analysis

In [4]:
data = pd.read_csv('tripadvisor_hotel_reviews.csv')

In [5]:
data.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [6]:
data.tail()

                                                  Review  Rating
20486  best kept secret 3rd time staying charm, not 5...       5
20487  great location price view hotel great quick pl...       4
20488  ok just looks nice modern outside, desk staff ...       2
20489  hotel theft ruined vacation hotel opened sept ...       1
20490  people talking, ca n't believe excellent ratin...       2

In [7]:
data.describe()

             Rating
count  20491.000000
mean       3.952223
std        1.233030
min        1.000000
25%        3.000000
50%        4.000000
75%        5.000000
max        5.000000

In [8]:
data.shape

(20491, 2)

In [9]:
data.isnull().sum()

Review    0
Rating    0
dtype: int64

In [10]:
blank = []
for index in data["Review"]:
    if index.isspace()==True:
        blank.append(index)

In [11]:
blank

[]

In [12]:
data["Rating"].value_counts()

5    9054
4    6039
3    2184
2    1793
1    1421
Name: Rating, dtype: int64

In [13]:
data['Rating']

0        4
1        2
2        3
3        5
4        5
        ..
20486    5
20487    4
20488    2
20489    1
20490    2
Name: Rating, Length: 20491, dtype: int64

In [14]:
data["Rating"].value_counts().sort_values()

1    1421
2    1793
3    2184
4    6039
5    9054
Name: Rating, dtype: int64

In [15]:
def rating(rating):
    if rating > 3 and rating <=5:
        return "postive"
    if rating > 0 and rating <=3:
        return "negative"
data["Rating_result"] = data["Rating"].apply(rating)

In [16]:
data.head()

                                              Review  Rating Rating_result
0  nice hotel expensive parking got good deal sta...       4       postive
1  ok nothing special charge diamond member hilto...       2      negative
2  nice rooms not 4* experience hotel monaco seat...       3      negative
3  unique, great stay, wonderful time hotel monac...       5       postive
4  great stay great stay, went seahawk game aweso...       5       postive

In [17]:
data['Rating_result'].value_counts()

postive     15093
negative     5398
Name: Rating_result, dtype: int64

In [18]:
data['Rating_result'] = "postive"
data.head()

                                              Review  Rating Rating_result
0  nice hotel expensive parking got good deal sta...       4       postive
1  ok nothing special charge diamond member hilto...       2       postive
2  nice rooms not 4* experience hotel monaco seat...       3       postive
3  unique, great stay, wonderful time hotel monac...       5       postive
4  great stay great stay, went seahawk game aweso...       5       postive

In [19]:
data['Rating_result'] = "negative"
data.tail()

                                                  Review  Rating Rating_result
20486  best kept secret 3rd time staying charm, not 5...       5      negative
20487  great location price view hotel great quick pl...       4      negative
20488  ok just looks nice modern outside, desk staff ...       2      negative
20489  hotel theft ruined vacation hotel opened sept ...       1      negative
20490  people talking, ca n't believe excellent ratin...       2      negative

In [20]:
#sentiment Analysis

In [21]:
import nltk
nltk.download("vader_lexicon")

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [31]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [30]:
sentanalyze = SentimentIntensityAnalyzer()

In [28]:
data["scores"] = data["Review"].apply(lambda review:sentanalyze.polarity_scores(review))

In [29]:
data.head()

,Review,Rating,Rating_result,scores
0,nice hotel expensive parking got good deal sta...,4,negative,"{'neg': 0.093, 'neu': 0.646, 'pos': 0.261, 'co..."
1,ok nothing special charge diamond member hilto...,2,negative,"{'neg': 0.092, 'neu': 0.711, 'pos': 0.197, 'co..."
2,nice rooms not 4* experience hotel monaco seat...,3,negative,"{'neg': 0.084, 'neu': 0.715, 'pos': 0.2, 'comp..."
3,"unique, great stay, wonderful time hotel monac...",5,negative,"{'neg': 0.055, 'neu': 0.557, 'pos': 0.388, 'co..."
4,"great stay great stay, went seahawk game aweso...",5,negative,"{'neg': 0.118, 'neu': 0.644, 'pos': 0.238, 'co..."

In [35]:
data["compound"] = data["scores"].apply(lambda f:f["compound"])

In [36]:
data.head()

,Review,Rating,Rating_result,scores,compound
0,nice hotel expensive parking got good deal sta...,4,negative,"{'neg': 0.093, 'neu': 0.646, 'pos': 0.261, 'co...",0.9626
1,ok nothing special charge diamond member hilto...,2,negative,"{'neg': 0.092, 'neu': 0.711, 'pos': 0.197, 'co...",0.9870
2,nice rooms not 4* experience hotel monaco seat...,3,negative,"{'neg': 0.084, 'neu': 0.715, 'pos': 0.2, 'comp...",0.9842
3,"unique, great stay, wonderful time hotel monac...",5,negative,"{'neg': 0.055, 'neu': 0.557, 'pos': 0.388, 'co...",0.9920
4,"great stay great stay, went seahawk game aweso...",5,negative,"{'neg': 0.118, 'neu': 0.644, 'pos': 0.238, 'co...",0.9870

In [37]:
data.tail()

,Review,Rating,Rating_result,scores,compound
20486,"best kept secret 3rd time staying charm, not 5...",5,negative,"{'neg': 0.087, 'neu': 0.671, 'pos': 0.242, 'co...",0.9699
20487,great location price view hotel great quick pl...,4,negative,"{'neg': 0.0, 'neu': 0.57, 'pos': 0.43, 'compou...",0.9753
20488,"ok just looks nice modern outside, desk staff ...",2,negative,"{'neg': 0.131, 'neu': 0.724, 'pos': 0.145, 'co...",0.2629
20489,hotel theft ruined vacation hotel opened sept ...,1,negative,"{'neg': 0.155, 'neu': 0.677, 'pos': 0.168, 'co...",0.9696
20490,"people talking, ca n't believe excellent ratin...",2,negative,"{'neg': 0.172, 'neu': 0.665, 'pos': 0.163, 'co...",-0.0003

In [39]:
data["compound_result"] = data["compound"].apply(lambda score:"positve" if score >=0 else "negative")

In [40]:
data.head()

,Review,Rating,Rating_result,scores,compound,compound_result
0,nice hotel expensive parking got good deal sta...,4,negative,"{'neg': 0.093, 'neu': 0.646, 'pos': 0.261, 'co...",0.9626,positve
1,ok nothing special charge diamond member hilto...,2,negative,"{'neg': 0.092, 'neu': 0.711, 'pos': 0.197, 'co...",0.9870,positve
2,nice rooms not 4* experience hotel monaco seat...,3,negative,"{'neg': 0.084, 'neu': 0.715, 'pos': 0.2, 'comp...",0.9842,positve
3,"unique, great stay, wonderful time hotel monac...",5,negative,"{'neg': 0.055, 'neu': 0.557, 'pos': 0.388, 'co...",0.9920,positve
4,"great stay great stay, went seahawk game aweso...",5,negative,"{'neg': 0.118, 'neu': 0.644, 'pos': 0.238, 'co...",0.9870,positve

In [42]:
data.tail()

,Review,Rating,Rating_result,scores,compound,compound_result
20486,"best kept secret 3rd time staying charm, not 5...",5,negative,"{'neg': 0.087, 'neu': 0.671, 'pos': 0.242, 'co...",0.9699,positve
20487,great location price view hotel great quick pl...,4,negative,"{'neg': 0.0, 'neu': 0.57, 'pos': 0.43, 'compou...",0.9753,positve
20488,"ok just looks nice modern outside, desk staff ...",2,negative,"{'neg': 0.131, 'neu': 0.724, 'pos': 0.145, 'co...",0.2629,positve
20489,hotel theft ruined vacation hotel opened sept ...,1,negative,"{'neg': 0.155, 'neu': 0.677, 'pos': 0.168, 'co...",0.9696,positve
20490,"people talking, ca n't believe excellent ratin...",2,negative,"{'neg': 0.172, 'neu': 0.665, 'pos': 0.163, 'co...",-0.0003,negative

In [43]:
data["compound_result"] = "negative"

In [45]:
data.head()

,Review,Rating,Rating_result,scores,compound,compound_result
0,nice hotel expensive parking got good deal sta...,4,negative,"{'neg': 0.093, 'neu': 0.646, 'pos': 0.261, 'co...",0.9626,negative
1,ok nothing special charge diamond member hilto...,2,negative,"{'neg': 0.092, 'neu': 0.711, 'pos': 0.197, 'co...",0.9870,negative
2,nice rooms not 4* experience hotel monaco seat...,3,negative,"{'neg': 0.084, 'neu': 0.715, 'pos': 0.2, 'comp...",0.9842,negative
3,"unique, great stay, wonderful time hotel monac...",5,negative,"{'neg': 0.055, 'neu': 0.557, 'pos': 0.388, 'co...",0.9920,negative
4,"great stay great stay, went seahawk game aweso...",5,negative,"{'neg': 0.118, 'neu': 0.644, 'pos': 0.238, 'co...",0.9870,negative

In [46]:
data["compound_result"] = "positive"
data.head()

,Review,Rating,Rating_result,scores,compound,compound_result
0,nice hotel expensive parking got good deal sta...,4,negative,"{'neg': 0.093, 'neu': 0.646, 'pos': 0.261, 'co...",0.9626,positive
1,ok nothing special charge diamond member hilto...,2,negative,"{'neg': 0.092, 'neu': 0.711, 'pos': 0.197, 'co...",0.9870,positive
2,nice rooms not 4* experience hotel monaco seat...,3,negative,"{'neg': 0.084, 'neu': 0.715, 'pos': 0.2, 'comp...",0.9842,positive
3,"unique, great stay, wonderful time hotel monac...",5,negative,"{'neg': 0.055, 'neu': 0.557, 'pos': 0.388, 'co...",0.9920,positive
4,"great stay great stay, went seahawk game aweso...",5,negative,"{'neg': 0.118, 'neu': 0.644, 'pos': 0.238, 'co...",0.9870,positive

In [47]:
sample = "hotel was very worst and foods are not good "
sentanalyze.polarity_scores(sample)

{'neg': 0.493, 'neu': 0.507, 'pos': 0.0, 'compound': -0.7782}

In [48]:
sample1 = " The horel was good and i enjoyed"
sentanalyze.polarity_scores(sample1)

{'neg': 0.0, 'neu': 0.446, 'pos': 0.554, 'compound': 0.7351}

In [49]:
sample2 = " Very delicious food but bad service"
sentanalyze.polarity_scores(sample2)

{'neg': 0.422, 'neu': 0.356, 'pos': 0.222, 'compound': -0.5029}